<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form (submit)="handleSubmit()">
        <h1>Signup</h1>
        <div class="inputbox">
          <label>userName</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter name"
            name="username"
            [(ngModel)]="userlist.username"
            required
          />
        </div>
        <div class="inputbox">
          <label>Email</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter name"
            name="email"
            [(ngModel)]="userlist.email"
            required
          />
        </div>
        <div class="inputbox">
          <label>Pssword</label>
          <input
            class="form-control"
            type="password"
            placeholder="Enter name"
            name="psw"
            [(ngModel)]="userlist.psw"
            required
          />
        </div>
        <div class="inputbox">
          <label>Confirm Password</label>
          <input
            class="form-control"
            type="password"
            placeholder="Enter name"
            name="cpsw"
            [(ngModel)]="userlist.cpsw"
            required
          />
        </div>
        <div class="btn">
          <button [disabled]="!allowButton" type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>


<hr/>

<input class="form-control" type="text" name="server" [(ngModel)]='server'/>
<P>{{server}}</P>

